* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #121212;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-container {
  text-align: center;
}

#clock {
  font-size: 10vw;
  font-weight: bold;
  color: #00ffcc;
  text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
}
